@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/date/header__date/header__date.css);
@import url(../blocks/invite/invite.css);
@import url(../blocks/hashtag/__leaf-left/hashtag__leaf-left.css);
@import url(../blocks/hashtag/__leaf-right/hashtag__leaf-right.css);
@import url(../blocks/hashtag/hashtag.css);
@import url(../blocks/hashtag/hashtag__title/hashtag__title.css);
@import url(../blocks/hashtag/__tag/hashtag__tag.css);
@import url(../blocks/hashtag/__leaf/hashtag__leaf.css);
@import url(..//blocks/programm/programm.css);
@import url(..//blocks/programm/title/programm__title.css);
@import url(../blocks/programm/title/programm__subtitle.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/table/__row/table__row.css);
@import url(../blocks/table/__time/table__time.css);
@import url(../blocks/table/__image/table__image.css);
@import url(../blocks/programm/__table/programm__table.css);
@import url(../blocks/table/__line/table__line.css);
@import url(../blocks/table/__image/table__image.css);
@import url(../blocks/table//__info/table__info-heading.css);
@import url(../blocks/table/__image/table__image.css);
@import url(../blocks/table/__info/table__info-text.css);
@import url(../blocks/table/__info/table__info.css);
@import url(../blocks/dress-code/dress-code.css);
@import url(../blocks/dress-code/__title/dress-code__title.css);
@import url(../blocks/dress-code/__circle/dress-code__circle.css);
@import url(../blocks/dress-code/__color/dress-code__color.css);
@import url(../blocks/dress-code/__paragraph/dress-code__paragraph.css);
@import url(../blocks/dress-code/__background/dress-code__background.css);
@import url(../blocks/footer/__paragraph/footer__paragraph.css);
@import url(../blocks/footer/__column-links/footer__column-links.css);
@import url(../blocks/footer/__column-link/footer__column-link.css);
@import url(../blocks/footer/__social-icon/footer__social-icon.css);
@import url(../blocks/footer/__contact/_organization/footer__contact_organization.css);

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* Hide the images by default */
  .mySlides {
      display: none;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
