.footer__column-links {
    margin: 30px auto 16px;
    padding: 0;
    color: #666666;
    line-height: 30px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    max-width: 90%;
}